
<div class="users-table table-wrapper">
    <table class="posts-table">
        <thead>
        <tr class="users-table-info">
            <th>
            <label class="users-table__checkbox ms-20">
                <input type="checkbox" class="check-all">Thumbnail
            </label>
            </th>
            <th>Title</th>
            <th>Status</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <label class="users-table__checkbox">
                    <input type="checkbox" class="check">
                    <div class="categories-table-img">
                        <img src="../../../../assets/img/products/product-img-3.jpg" alt="">
                    </div>
                </label>
            </td>
            <td>
                Starting your traveling blog with Vasco
            </td>
            
            <td>
                <span class="badge-pending">Pending</span>
            </td>
            <td>17.04.2021</td>
            
        </tr>
        
        </tbody>
    </table>
</div>