<table class="total-table">
    <thead class="total-table-head">
        <tr class="table-total-row">
            <th>Total</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr class="total-data">
            <td><strong>Subtotal: </strong></td>
            <td>$500</td>
        </tr>
        <tr class="total-data">
            <td><strong>Shipping: </strong></td>
            <td>$45</td>
        </tr>
        <tr class="total-data">
            <td><strong>Total: </strong></td>
            <td>$545</td>
        </tr>
    </tbody>
</table>
<div class="cart-buttons">
    <a href="cart.html" class="boxed-btn">Buy</a>
</div>
