<div class="container-fluid form-container">
    <div class="container login-container">
        <div class="row">
            <div class="col-md-5 content-part">
                <h4 class="logo">Smart Account</h4>

                <img src="../../../assets/login/images/feature-img-05.png" alt="">

                <h2>Get instant visibility into all your team work.</h2>
                <p>Don’t waste time on tedious manual tasks. Let Automation do it for you. Simplify workflows, 
                reduce errors, and save time for solving more important problems.</p>
            </div>
            <div class="col-md-7 form-part">
              <div class="row">
                 <p class="signinlink">I already have an account <a routerLink="/login">Sign In</a></p>

                <div class="col-lg-8 col-md-11  formcol mx-auto">
                     <h3>Sign Up to Smarteye</h3>
                     <div class="form-floating mb-3">
                      <input type="email" class="form-control" id="floatingInput" placeholder="Enter Full Name">
                      <label for="floatingInput">Full Name</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input type="email" class="form-control" id="floatingInput" placeholder="Enter Mobile Number">
                      <label for="floatingInput">Mobile Number</label>
                    </div>
                     <div class="form-floating mb-3">
                      <input type="email" class="form-control" id="floatingInput" placeholder="Enter Email Address">
                      <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating">
                      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                      <label for="floatingPassword">Password</label>
                    </div>
                    <div class="form-floating">
                     <button class="btn btn-primary">Create Account</button>
                    </div>


                </div>
               
              </div>
               
            </div>
        </div>
    </div>
  </div> 
