<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prueba Angular</title>
  </head>
  <body style="padding: 2rem; border-color: black; border-style: solid; margin: 1rem;">
    <app-navbar></app-navbar>
    <div style="display:flex; width: auto;">
        <app-filters></app-filters>
        <div style="width: 100%;">
            <app-body></app-body>
        </div>
        
    </div>
    
  </body>
</html>
