<app-navbar></app-navbar>
<!-- breadcrumb-section -->

    <div class="breadcrumb-section breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="breadcrumb-text">
                        <h1>Tus Compras</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb section -->
<div *ngIf="isAuthenticated()">
    <!-- cart -->
    <div class="cart-section mt-150 mb-150">
        <div class="container">
            <div class="row">
                <div style="width: 100%;">
                    <div class="cart-table-wrap">
                        <app-tb-com></app-tb-com>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- end cart -->
<app-footer></app-footer>