<div class="container-fluid form-container">
    <div class="container login-container">
        <div class="row">
            <div class="col-md-5 content-part">
                <h4 class="logo">Smart Account</h4>

                <img src="../../../assets/login/images/feature-img-05.png" alt="">

                <h2>Get instant visibility into all your team work.</h2>
                <p>Don’t waste time on tedious manual tasks. Let Automation do it for you. Simplify workflows, 
                reduce errors, and save time for solving more important problems.</p>
            </div>
            <div class="col-md-7 form-part">
              <div class="row">
                 <p class="signinlink">Dont have an account ?   <a routerLink="/register">Registrar</a></p>

                <div class="col-lg-8 col-md-11 login formcol mx-auto">
                  <h3>Sign IN to Smarteye</h3>
                  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput"  formControlName="username" placeholder="Enter Email Address">
                        <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword" formControlName="password" placeholder="Password">
                        <label for="floatingPassword">Password</label>
                    </div>
                    <div class="form-floating">
                      <button class="btn btn-primary" type="submit">Login</button>
                    </div>
                  </form>


                </div>
               
              </div>
               
            </div>
        </div>
    </div>
  </div> 
