<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="product-filters">
                <ul>
                  <li *ngFor="let category of categories; let i = index" [class.active]="category === selectedCategory" (click)="filterByCategory(category)">
                    {{ category }}
                  </li>
                </ul>
              </div>
              
              
        </div>
    </div>

    <div class="row product-lists">
        <app-item class="col-lg-4 col-md-6 text-center"  *ngFor="let product of products;" [product]="product"></app-item>
    </div>

    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="pagination-wrap">
                <ul>
                    <li><a (click)="changePage(currentPage - 1)">Prev</a></li>
                    <li *ngFor="let page of totalPagesArray()">
                      <a [class.active]="page + 1 === currentPage" (click)="changePage(page + 1)">{{ page + 1 }}</a>
                    </li>
                    <li><a (click)="changePage(currentPage + 1)">Next</a></li>
                  </ul>
            </div>
        </div>
    </div>

</div>
