<table class="cart-table">
    <thead class="cart-table-head">
        <tr class="table-head-row">
            <th class="product-remove"></th>
            <th class="product-image">Product Image</th>
            <th class="product-name">Name</th>
            <th class="product-price">Price</th>
            <th class="product-quantity">Quantity</th>
            <th class="product-total">Total</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-body-row" *ngFor="let item of cartItems; let i = index">
            <td class="product-remove"><a (click)="removeFromCart(i)"><i class="far fa-window-close"></i></a></td>
            <td class="product-image"><img [src]="item.product.img" alt=""></td>
            <td class="product-name">{{ item.product.nombre }}</td>
            <td class="product-price">{{ item.product.precio }}</td>
            <td class="product-quantity">
                <input type="number" placeholder="0" [(ngModel)]="item.quantity" (change)="updateCartItem(i)">
              </td>
            <td class="product-total">{{ item.quantity }}</td>
          </tr>
        
    </tbody>
</table>